@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body {
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box !important;
}
.navbar {
    z-index: 1;
    height: 56px;
    padding: 0 16px;
    position: fixed;
    overflow: hidden;
    margin: 0;
    top: 0;
    left: 0;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}


.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-menu {
    height: 24px;
    width: 24px;
    padding: 8px;
    cursor: pointer;
}
.navbar-logo {
    width: 90px;
    height: 20px;
    padding: 18px 14px 18px 16px;
    cursor: pointer;
}
.navbar-logo-VN {
    margin-top: 12px;
    margin-left: -10px;
    height: 44px;
    color: #606060;
    font-size: 10px;
}
.navbar-center {
    width: 650px;
    height: 40px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.search-form {
    width: 640px;
    height: 28px;
    border: 1px #ccc solid;
    background-color: #fff;
    color: #111;
    font-size: 10px;
    border-radius: 2px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 6px;
}
.search-input {
    width: 512px;
    height: 24px;
    border: 0;
}
.keyboard {
    cursor: pointer;
    width: 19px;
    height: 11px;
    padding: 0 10px;
}
.button-search {
    border: 0;
    border-left: 1px #d3d3d3 solid;
    padding: 1px 6px;
    width: 65px;
    height: 28px;
    background-color: #F6F6F6;
    justify-items: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
::placeholder {
    font-size: 16px;
  }
.navbar-search-voice{
    padding: 8px;
    cursor: pointer;
}
.navbar-right{
    display: flex;
    justify-content: center;
    margin-right: 0px;
}
.navbar-topbar-menu {
    width: 24px;
    height: 24px;
    padding: 8px;
    cursor: pointer;
}
.navbar-setting {
    width: 24px;
    height: 24px;
    padding: 8px;
    cursor: pointer;
}
.login{
    width: 140px;
    height: 40px;
    color: #065fd4;
    border: 1px #065fd4 solid;
    border-radius: 2px;
    font-weight: 700;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
